/*Configurações Globais CSS*/
*{
    height: 100%;
}

body{
    background-image: linear-gradient(to top, #F5A80A, #F06512, #ED2F31, #E8709D, #D30294, #9404D7);
}

#titulo-1{
    background-color: blue;
    color: white;
}

#titulo-2{
    background-color: #0000ff;
    color: #ffffff;
}

#titulo-3{
    background-color: rgb( 0, 0, 255);
    color: rgb(255, 255, 255);
}

#titulo-4{
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

#titulo-5{
    background-color: rgb(0, 4, 255);
    color: #ffffff;
}

