@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url(/desafio010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@import url(//db.onlinewebfonts.com/c/a7dd484e6c3d2750fded138452ee1aea?family=IDroid);
@font-face {font-family: "IDroid"; src: url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.eot"); src: url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.woff") format("woff"), url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a7dd484e6c3d2750fded138452ee1aea.svg#IDroid") format("svg"); }


:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
    --font-idroid: 'IDroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.355);
    text-align: center;
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.355);
}

nav{
    background-color: var(--cor5);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.207);
}

nav > a{
    text-decoration: none;
    padding: 15px;
    color: #3ddc84;
    font-weight: bolder;
    transition-duration: 0.5s;

}

nav > a:hover{
    background-color: #1a5c37;
    border-radius: 5px;
}

main{
    background-color: white;
    min-width: 250px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.429);
    border-radius: 0px 0px 15px 15px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.5em;
}

main strong{
    color: #1a5c37;
    font-weight: bolder;
    padding: 2px 3px;
    
}

main a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    background-color: #3ddc854b;
    padding: 2px 3px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    font-family: var(--font-idroid);
    color: var(--cor5);
    font-size: 1.8em;
}

main h2{
    font-family: var(--font-idroid);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 10px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.232);
}

aside h3{
    background-color: #1a5c37;
    color: white;
    padding: 5px;
    margin: -20px -20px 0 -20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    margin-bottom: 25px;
    list-style-type: '\2714\00a0';
}

abbr{
    text-decoration: none;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 8px;
    
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: var(--cor3);
    text-decoration: underline;
}
