@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Pacifico', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: #A6A6A6;
    font-family: var(--fonte1);
}

header{
    background-color: #262626;
    color: #F2F2F2;
    text-align: center;
}

header > h1{
    padding-top: 20px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 20px;
}

a{
    color: #F2F2F2;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: #595959;
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
}

section > p{
    padding-bottom: 2em;
}

section.imagem{
    background-color: #262626;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F2F2F2;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.316);
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: #0d0d0d5b;
}

section.normal{
    background-color: #F2F2F2;
    color: #262626;

}

section#img01{
    background-image: url(../images/background001.jpg);
}

section#img02{
    background-image: url(../images/background002.jpg);
}

footer{
    background-color: #262626;
    text-align: center;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}